nav.navbar {
    height: 90px;
    background-color: darkseagreen;
    opacity: 0.8;
    
}

.navbar-brand {
    font-size: 70px;
    color: white;
    margin: 0 auto;
    font-family: lobster;
}

body {
    background-image: url(../assets/images/Hiking_Site.jpg);
    color: black;
}

div.card {
    margin: 0 auto;
    top: 80px;
    width: 50%;
    text-align: center;
    border: 6px solid transparent;
    border-radius: 15px;
}

.card-body {
    padding: 0; 
}
#searchTextField {
    width: 80%;
    margin: 0 auto;
    text-align: center;
   
}

button {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

<<<<<<< HEAD
.container {
    position: relative;
    text-align: center;
    color: white;
    padding: 0;
}

img.card-img-top {
    margin: 0;
    padding: 0;
    height: 200px;   
}
=======

>>>>>>> c85bc2cb32906641bd612481a810031cd08343ca
