nav.navbar {
    height: 90px;
    background-color: darkseagreen;
    opacity: 0.8;
    
}

.navbar-brand {
    font-size: 70px;
    color: white;
    margin: 0 auto;
    font-family: lobster;
}

body {
    background-image: url(../assets/images/Hiking_Site.jpg);
    color: black;
}

div.card {
    margin: 0 auto;
    top: 80px;
    width: 50%;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 10px;
}

.card-body {
    padding: 0; 
}

#searchTextField {
    width: 80%;
    margin: 0;
    text-align: center;  
    height: 60px;
    border-radius: 10px;
    border: solid transparent gray 5px;

    
}

button {
    cursor: pointer;
    height: 60px;
    border-radius: 10px;
    width: 130px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    text-align: center;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    padding: 0;
}

img.card-img-top {
    margin: 0;
    padding: 0;
    height: 200px;   
    border-radius: 10px;
    background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.list-group-item {
    font-family: mclaren;
}

.col-md-9 {
    margin: 0 auto;
    top: 140px;
}

.container-fluid {
    padding: 0;
}